html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: #003a70;
  font-family: "Inter", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar {
  background-color: #003a70;
  position: fixed;
  top: 0;
  height: 72px;
  width: 100%;
  z-index: 100;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
  padding: 0 72px;
  display: flex;
  justify-content: space-between;
}
.navbar-mobile {
  display: none;
}

.logo-mobile {
  a {
    display: flex;
    height: 100%;
  }
}

.nav-menu-mobile {
  margin-top: 10px;
  width: 100%;
}

.menu-mobile {
  width: 100%;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
  }
}

.menu-mobile:hover {
  background-color: #003261;
}

.nav-left-mobile {
  display: flex;
  align-items: center;
}
.nav {
  height: 100%;
  display: flex;
  align-items: center;
}

.logo img {
  height: 55px;
  filter: drop-shadow(5px 5px 5px #222);
  animation: capcha 1.2s ease-out infinite;
}

.logo img:hover {
  animation-play-state: paused;
}

@keyframes capcha {
  0% {
    transform: rotate(0deg) translateX(0) translateY(0);
  }

  25% {
    transform: rotate(-45deg) translateX(-15%) translateY(-8%);
  }

  50% {
    transform: rotate(0) translateX(0) translateY(0);
  }

  75% {
    transform: rotate(45deg) translateX(15%) translateY(-8%);
  }

  100% {
    transform: rotate(0deg) translateX(0) translateY(0);
  }
}

.nav-menu {
  display: flex;
  color: #ffcb05;
  font-size: 20px;
  height: 100%;
}

.nav-left {
  column-gap: 50px;
}

.menu {
  padding: 0 25px;
  a {
    height: 100%;
    display: flex;
    align-items: center;
  }
}

.menu:hover {
  background-color: #003261;
}

.imgheader {
  padding: 40px 64px;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgheader img {
  max-width: 720px;
  width: 100%;
}

.nav-right form {
  display: flex;
  column-gap: 20px;
  /* max-width: 400px;
  width: 100%; */
}

.nav-right-mobile {
  column-gap: 20px;
}

.search-bar {
  background-color: #f7ebbe;
  border: none;
  height: 40px;
  border-radius: 30px;
  padding: 0 15px;
  min-width: 100px;
  width: 100%;
  color: #003a70;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.search-btn {
  background-color: #ffcb05;
  border: none;
  height: 40px;
  border-radius: 30px;
  padding: 0 25px;
  letter-spacing: 0.5px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 14px;
}

.sm-search-bar,
.menu-bar {
  display: none;
}

.sm-search-bar {
  max-width: 300px;
  width: 100%;
  align-items: center;
  border-radius: 30px;
  background-color: #f7ebbe;
  form {
    display: flex;
  }
}

.search-btn-mobile {
  background-color: #f7ebbe;
  border-radius: 0 30px 30px 0;
  padding: 0 15px 0 10px;
}

.search-bar-mobile {
  border-radius: 30px 0 0 30px;
}

.menu-bar {
  width: 100%;
  height: 100vh;
  background-color: #003a70;
  flex-direction: column;
  position: fixed;
  right: 0;
  background-color: #003a70a2;
  backdrop-filter: blur(10px);
  a {
    height: 72px;
    align-self: end;
    padding: 0 20px;
    display: flex;
    align-items: center;
  }
}
.body-container-padding {
  padding: 72px;
  padding-bottom: 100px;
}

.body-container-adjustmargin {
  max-width: 1312px;
  margin: 0 auto;
}

.random-btn-form {
  display: flex;
  justify-content: center;
}

.random-btn {
  background-color: #ffcb05;
  border: solid 5px #003a70;
  border-radius: 40px;
  padding: 30px;
  letter-spacing: 0.5px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 20px;
  /* margin: 100px; */
}

.footer {
  height: 202px;
  width: 100%;
  background-color: #003a70;
  position: relative;
}

/* -----------scroll bar style--------------- */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #003a70;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffcb05;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffcb05;
}

.data-container {
  width: 80%;
  margin: auto;
  border-radius: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 100px;
}

.head-name {
  background-color: #003a70;
  text-align: center;
  font-size: 60px;
  font-weight: 600;
  border-radius: 50px 50px 0 0;
  padding: 20px 30px;
  color: #ffcb05;
}

.foot-bg {
  background-color: #003a70;
  height: 112px;
  border-radius: 0 0 50px 50px;
}

.random-data {
  display: flex;
  word-break: break-all;
  margin: 0 auto;
}

.pokeImg {
  display: flex;
  flex-direction: column;
  width: 35%;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  img {
    width: 100%;
    padding: 50px;
  }
  .name {
    padding: 20px;
  }
}

.varieties-name {
  background-color: #003a70;
  color: #ffcb05;
}

.varieties-img-slider {
  display: flex;
  width: 100%;
  position: relative;
}

.pokeImg-3-slider {
  display: none;
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
  img {
    width: 100%;
    /* display: none; */
  }
}

.displaySlide {
  display: block;
}

.prev {
  position: absolute;
  top: 50%;
  left: 5%;
  border: none;
  background-color: #ffcd0583;
  padding: 10px;
}

.next {
  position: absolute;
  top: 50%;
  right: 5%;
  border: none;
  background-color: #ffcd0583;
  padding: 10px;
}

.pokeData {
  width: 65%;
  padding: 15px 100px 35px 100px;
  border-left: 1px solid #00000071;
  line-height: 28px;
}

.evo-btn {
  border: none;
  color: #ffcb05;
  background-color: #003a70;
  border-radius: 5px;
  padding: 10px 10px;
  display: inline-block;
  min-width: 70px;
  width: 100%;
}

.evo-box-1 {
  display: flex;
  column-gap: 10px;
  align-items: center;
  justify-content: center;
}

.evo-box-2 {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.evo-box-3 {
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.evo-box-4 {
  display: flex;
  flex-direction: column;
  column-gap: 40px;
  row-gap: 10px;
}

.evo-box-5 {
  display: flex;
  flex-direction: column;
  column-gap: 40px;
  align-items: center;
  row-gap: 10px;
}

.text-subhead {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  padding: 20px 0;
}

.extra-padding {
  padding: 40px 0;
}

a {
  color: #ffcb05;
  text-decoration: none;
}

.footer-contact {
  display: flex;
  column-gap: 20px;
  li {
    list-style: none;
  }
}

.text-footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: #ffcb05;
  position: absolute;
  bottom: 10px;
  padding: 0 72px;
}

.svg-nav {
  display: none;
  column-gap: 20px;
}

.bold {
  font-weight: 600;
}

.grass {
  display: inline-block;
  color: #ffffff;
  background-color: #7c5;
  padding: 0 10px;
  border-radius: 5px;
  margin-right: 5px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.normal {
  display: inline-block;
  color: #ffffff;
  background-color: #aa9;
  padding: 0px 10px;
  border-radius: 5px;
  margin-right: 5px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.fire {
  display: inline-block;
  color: #ffffff;
  background-color: #f42;
  padding: 0px 10px;
  border-radius: 5px;
  margin-right: 5px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.water {
  display: inline-block;
  color: #ffffff;
  background-color: #39f;
  padding: 0px 10px;
  border-radius: 5px;
  margin-right: 5px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.electric {
  display: inline-block;
  color: #ffffff;
  background-color: #fc3;
  padding: 0px 10px;
  border-radius: 5px;
  margin-right: 5px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.ice {
  display: inline-block;
  color: #ffffff;
  background-color: #6cf;
  padding: 0px 10px;
  border-radius: 5px;
  margin-right: 5px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.fighting {
  display: inline-block;
  color: #ffffff;
  background-color: #b54;
  padding: 0px 10px;
  border-radius: 5px;
  margin-right: 5px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.poison {
  display: inline-block;
  color: #ffffff;
  background-color: #a59;
  padding: 0px 10px;
  border-radius: 5px;
  margin-right: 5px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.ground {
  display: inline-block;
  color: #ffffff;
  background-color: #db5;
  padding: 0px 10px;
  border-radius: 5px;
  margin-right: 5px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.flying {
  display: inline-block;
  color: #ffffff;
  background-color: #89f;
  padding: 0px 10px;
  border-radius: 5px;
  margin-right: 5px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.psychic {
  display: inline-block;
  color: #ffffff;
  background-color: #f59;
  padding: 0px 10px;
  border-radius: 5px;
  margin-right: 5px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.bug {
  display: inline-block;
  color: #ffffff;
  background-color: #ab2;
  padding: 0px 10px;
  border-radius: 5px;
  margin-right: 5px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.rock {
  display: inline-block;
  color: #ffffff;
  background-color: #ba6;
  padding: 0px 10px;
  border-radius: 5px;
  margin-right: 5px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.ghost {
  display: inline-block;
  color: #ffffff;
  background-color: #66b;
  padding: 0px 10px;
  border-radius: 5px;
  margin-right: 5px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.dragon {
  display: inline-block;
  color: #ffffff;
  background-color: #76e;
  padding: 0px 10px;
  border-radius: 5px;
  margin-right: 5px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.dark {
  display: inline-block;
  color: #ffffff;
  background-color: #754;
  padding: 0px 10px;
  border-radius: 5px;
  margin-right: 5px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.steel {
  display: inline-block;
  color: #ffffff;
  background-color: #aab;
  padding: 0px 10px;
  border-radius: 5px;
  margin-right: 5px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.fairy {
  display: inline-block;
  color: #ffffff;
  background-color: #e9e;
  padding: 0px 10px;
  border-radius: 5px;
  margin-right: 5px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

@media (max-width: 1048px) {
  .navbar {
    padding: 0 16px;
  }
  .svg-nav {
    display: flex;
    align-items: center;
  }
  .navbar-pc {
    display: none;
  }
  .navbar-mobile {
    display: flex;
  }
  .pokeData {
    padding: 50px;
  }
  .pokeImg {
    font-size: 24px;
  }
  .pokeImg img {
    padding: 25px;
  }
  .head-name {
    font-size: 42px;
  }
  .foot-bg {
    height: 91px;
  }
}

@media (min-width: 601px) and (max-width: 789px) {
  .evo-box-1 {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
  }

  .evo-box-2 {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
  }

  .evo-box-3 {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
  }

  .evo-box-4 {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    row-gap: 40px;
  }

  .evo-box-5 {
    display: flex;
    column-gap: 10px;
    flex-direction: row;
    justify-content: center;
    row-gap: 40px;
  }
}

@media (max-width: 600px) {
  .body-container-padding {
    padding: 40px;
    padding-bottom: 50px;
  }
  .pokeImg {
    width: 100%;
    font-size: 24px;
  }
  .pokeData {
    width: 100%;
    padding: 0 30px 30px 30px;
    border: none;
  }
  .data-container {
    margin-bottom: 50px;
  }
  .random-data {
    flex-direction: column;
  }
  .text-footer {
    padding: 0 16px;
  }
  .imgheader {
    padding: 0;
    margin: 50px 0;
  }
  .logo img {
    height: 44px;
  }
  .head-name {
    font-size: 30px;
  }
  .foot-bg {
    height: 76px;
  }

  .evo-box-1 {
    column-gap: 20px;
  }

  .evo-box-2 {
    column-gap: 20px;
  }

  .evo-box-3 {
    column-gap: 20px;
  }

  .evo-box-4 {
    column-gap: 20px;
  }

  .evo-box-5 {
    column-gap: 20px;
  }
  .evo-btn {
    min-width: 50px;
  }
}
